@import "tailwindcss";

@theme {
  --color-navy-dark: #071739; /* Oxford Blue / Deep Navy */
  --color-steel-blue: #4b6382; /* Steel Blue */
  --color-cadet-blue: #a4b5c4; /* Cadet Blue / Pale Slate */
  --color-slate-light: #cdd5db; /* Gainsboro / Light Slate Gray */
  --color-beaver: #a68868; /* Beaver / Light Brown */
  --color-buff: #e3c39d; /* Buff / Light Tan */

  --color-raisin-black: #1d1a39; /* Raisin Black */
  --color-russian-violet: #451952; /* Russian Violet */
  --color-tyrian-purple: #662549; /* Tyrian Purple / Plum */
  --color-carmine-pink: #ae445a; /* Deep Carmine Pink */
  --color-sandy-orange: #f39f5a; /* Sandy Brown / Peach Orange */
  --color-cameo-pink: #e8bcb9; /* Cameo Pink / Dusty Rose */

  --color-rose-pink: #f4e7eb;
  --color-blush: #f2dddc;
  --color-light-coral: #f6bcba;
  --color-orchid: #e3aadd;
  --color-lavender: #c8a8e9;
  --color-periwinkle: #c3c7f4;

  --color-blue-50: #598eff;
  --color-blue-300: #1c34ff;
  --color-white-50: #fdfdfd;
  --color-black-100: #0b0620;
  --color-black-300: #17151f;
  --color-pink-100: #ff28d5;
}

/* @theme {
  --color-blue-50: #598eff;
  --color-blue-300: #1c34ff;
  --color-white-50: #fdfdfd;
  --color-black-100: #0b0620;
  --color-black-300: #17151f;
  --color-pink-100: #ff28d5;
} */

html,
body {
  width: 100dvw;
  overflow-x: hidden;
  color: #0b0620;
  scroll-behavior: smooth;
}

section {
  width: 100dvw;
  min-height: 100dvh;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* Add to your global CSS */
table {
  border-collapse: separate;
  border-spacing: 0;
}

th {
  position: sticky;
  top: 0;
}
@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
}
